/* Link Google Font dot com */
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;500&family=Outfit:wght@800&display=swap');
/* Akhir  */

body {
  margin: 0;
  padding: 0;
  font-family: 'kreon';
  background-color: #222222;
  color: white;
}
#main {
  text-align: center;
}
#main img[alt='logo'] {
  max-width: 100%;
  width: 260px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}
#title {
  text-align: center;
  font-size: 42px;
  font-family: 'Outfit';
  margin: 0px 0px 20px;
}
#image {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0px -2px 5px 5px #3d3d3d;
}
#img-div{
  padding: 5px;
  margin: 0;
}
#image:hover {
  transform: scale(1.01);
}
#img-caption {
  margin: 15px 0px 5px 0px;
}
#headline {
  font-family: 'Outfit';
  font-size: 24px;
  margin: 0px 0 5px 0px;
}
hr {
  width: 150px;
  margin: 0 auto;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.2;
  font-family: Century Gothic, sans-serif;
  list-style: none;
}
li {
  margin: 16px 0;
  list-style: none
}
#tribute-link {
  text-decoration: none;
  color: black;
}
footer {
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  color: black;
}
#tribute-link:hover {
  color: #dddddd;
}